fastapi
uvicorn[standard]
gunicorn
pydantic-settings==2.3.1
torch==2.2.1
transformers==4.40.0
tabulate
tqdm
tiktoken>=0.7.0
accelerate
sentencepiece
sentence_transformers>=2.7.0
chatglm-cpp==0.4.0
opencc-python-reimplemented==0.1.7
redis
